<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fcfece">  <td>17/03/10 12:35:45</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;DICT01.checkCaseToRun()[pri:0, instance:solution.testSuite.ManageDictionary.DICT01@4c15e7fd]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/03/10 12:35:45</td>   <td>-276</td> <td title="&gt;&gt;SuiteManageDictionaryBase.checkSuiteToRun()[pri:0, instance:solution.testSuite.ManageDictionary.DICT01@4c15e7fd]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/03/10 12:36:27</td>   <td>41237</td> <td>&nbsp;</td><td title="&lt;&lt;DICT01.closeBrowser()[pri:0, instance:solution.testSuite.ManageDictionary.DICT01@4c15e7fd]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@665726928</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/03/10 12:36:26</td>   <td>40836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DICT01.reporterDataResults(org.testng.ITestResult)[pri:0, instance:solution.testSuite.ManageDictionary.DICT01@4c15e7fd]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@665726928</td>   <td></td> </tr>
<tr bgcolor="fcfece">  <td>17/03/10 12:35:46</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DICT01.suiteManageDictAddDict(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:solution.testSuite.ManageDictionary.DICT01@4c15e7fd]">suiteManageDictAddDict</td> 
  <td>main@665726928</td>   <td></td> </tr>
</table>
